site_name: VisualFlow Wiki
site_url: https://visual-flow.com
theme:
  logo: assets/icon-logo-slider.png
  favicon: assets/icon-logo-slider.png
  name: material
  custom_dir: overrides
  palette:
    # Light Mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
      
    # Dark Mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple
